:root {
  --blue: #31A2F2;
  --blueTransparent: #31A2F280;
  --pink: #FF69B4;
  --purple: #9B59B6;
  --purpleTransparent: #9B59B680;
  --white: #f5f2f2;
  --dark: #2C3E50;
  --darkTransparent: #2C3E5080;
  --black: #000;
}

body {
  background-color: var(--dark);
  background-image: url(img/jinx.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/*Contenedor contador*/
.container_contador {
  background-color: var(--blueTransparent);
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  max-width: 100%;
  width: auto;
  margin: 0px 40px;

  border-style: solid;
  border-color: var(--black);
  border-width: 1px;
  border-radius: 10px;
  padding: 10px 50px;

  transition: box-shadow 0.3s ease;
  transition: background-color 1s ease-in-out;
  
}
.container_contador:hover{
  box-shadow: 0px 1px 20px 3px var(--purple);
  background-color: var(--purpleTransparent);
  border-color: var(--white);
}
/*Contenedor html*/
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
/*Contador*/
#contador {
  display: flex;
  flex-direction: row;
  align-items: center;
  /*justify-content: center;*/
  font-weight: bold;
}
/*Botones*/
button {
  color: var(--black);
  background-color: var(--pink);
  font-size: 20px;
  border-radius: 10px;
  border-width: 2px;
  border-color: var(--black);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 12px;
  font-weight: bold;
  transition: background-color 1s ease-in-out;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}
button:hover{
  background-color: var(--blue);
  animation: hover_button 0.5s ease-in-out;
  color: var(--white);
}
button:active{
  animation: presionado 0.5s ease-in-out;
}
.container_contador:hover button{
  border-color: var(--white);
}
.container_contador input{
  background-color: var(--white);
  color: var(--black);
  font-size: 20px;
  border-radius: 10px;
  border-width: 2px;
}
#input_contador{
  width: 60px;
  
}
/*Registro*/
#registro{
  background-color: var(--darkTransparent);
  color: var(--white);
  padding: 10px 20px;
  width: 30%;

  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
}
#registro p{
  font-size: 30px;
  font-weight: bold;
}
#registro li{
  font-size: 20px;
}
/*Quitar flechas de los input de tipo number*/
#input_contador::-webkit-inner-spin-button,
#input_contador::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
/*Animaciones*/
@keyframes hover_button{
  0% { transform: rotate(0deg); }
  25% { transform: rotate(3deg); }
  50% { transform: rotate(-3deg); }
  75% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}
@keyframes presionado {
  0% { transform: scale(1) rotate(0deg); }
  50% { transform: scale(0.9) rotate(-2deg); }
  100% { transform: scale(1) rotate(0deg); }
}
/*Contador texto*/
p{
  color: var(--black);
  font-size: 30px;
}
.container_contador:hover p{
  color: var(--white);
}
/*Titulo*/
.container_cronometro{
  background-color: var(--blueTransparent);
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  max-width: 100%;
  width: auto;
  margin: 0px 40px;

  border-style: solid;
  border-color: var(--black);
  border-width: 1px;
  border-radius: 10px;
  padding: 10px 50px;

  transition: box-shadow 0.3s ease;
  transition: background-color 1s ease-in-out;
} 
#contenido_cronometro{
  display: flex;
  flex-direction: row;
  align-items: center;
}
h1{
  color: var(--white);
  font-size: 50px;
  margin-bottom: 0px;
}

#boton_cronometro{
  width: auto;
  height: 70px;
  margin-left: 10px;
  margin-top: 10px;
}
/*Tabs*/
.tabs{
  display: flex;
  flex-direction: column;
  align-items:normal;
  justify-content: center;
}
/*ul*/
.tabs_header{
  display: flex;
  flex-direction: row;
  justify-content: start;
  list-style-type: none;
  
}
/*li*/
.tabs_header li {
  background-color: var(--purple);
  color: var(--white);

  margin-right: 10px;
  margin-bottom: -15px;
  padding: 5px 10px;
  
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
  border-bottom: none;

  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.tabs_header li:hover{
  background-color: var(--pink);
  color: var(--black);
}
/*li activo*/
.tabs_header li.active{
  background-color: var(--blue);
  box-shadow: 0px 1px 20px 3px var(--purple);
}
/*Cronometro*/
/*h2*/
#cronometro{
  background-color: var(--dark);
  color: var(--white);

  font-size: 40px;
  padding: 10px 20px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
}
/*Temporizador*/
#temporizador{
  background-color: var(--darkTransparent);
  color: var(--white);
  padding: 10px 20px;

  display: flex;
  flex-direction: row;
  /*align-items: center;*/
  /*justify-content: center;*/

  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
}
#temporizador_formateado{
  background-color: var(--dark);
  color: var(--white);
  padding: 10px 20px;

  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);

  font-size: 40px;
}
.temporizador_item{
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  margin-right: 25px;
}
.temporizador_item input{
  background-color: var(--white);
  width: 100px;
  height: 45px;
  font-size: 20px;
  text-align: center;

  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--black);
}
.temporizador_item h2{
  font-size: 25px;
  margin-bottom: 5px;
  margin-top: 0px;
}

